In [66]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API Key
from config import g_key
# Store the CSV you saved created in part one into a DF.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Jose Da Coroa Grande,BR,10/15/21 20:50,-8.8978,-35.1478,77.45,81,63,10.63
1,1,Rikitea,PF,10/15/21 20:54,-23.1203,-134.9692,74.77,73,26,4.99
2,2,Ushuaia,AR,10/15/21 20:54,-54.8000,-68.3000,51.46,46,40,16.11
3,3,Cape Town,ZA,10/15/21 20:50,-33.9258,18.4232,58.08,73,75,3.00
4,4,Polewali,ID,10/15/21 20:54,-3.4324,119.3435,77.92,85,89,2.95
5,5,Kapaa,US,10/15/21 20:54,22.0752,-159.3190,82.38,68,17,5.01
6,6,Bafq,IR,10/15/21 20:54,31.6128,55.4107,67.28,19,0,2.26
7,7,Mataura,NZ,10/15/21 20:54,-46.1927,168.8643,50.22,60,100,4.03
8,8,Souillac,MU,10/15/21 20:54,-20.5167,57.5167,71.37,94,75,10.36
9,9,Husavik,IS,10/15/21 20:51,66.0449,-17.3389,35.51,87,83,4.00

In [97]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [98]:
# Config  gmaps to use your google API key.
gmaps.configure(api_key=g_key)

In [99]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps =[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [100]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=
4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [103]:
# Heatmap for cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [105]:
# Ask the customer to add a minimum & maximum temperature value.
min_temp = float(input("Enter minimum temperature. "))
max_temp = float(input("Enter max temperature. "))

In [106]:
# Filter the data frame to find the cities that meet the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Jose Da Coroa Grande,BR,10/15/21 20:50,-8.8978,-35.1478,77.45,81,63,10.63
4,4,Polewali,ID,10/15/21 20:54,-3.4324,119.3435,77.92,85,89,2.95
5,5,Kapaa,US,10/15/21 20:54,22.0752,-159.3190,82.38,68,17,5.01
10,10,Luis Correia,BR,10/15/21 20:54,-2.8792,-41.6669,81.03,81,67,16.33
16,16,San Policarpo,PH,10/15/21 20:54,12.1791,125.5072,76.71,88,99,5.28
22,22,Waingapu,ID,10/15/21 20:54,-9.6567,120.2641,79.20,81,96,3.31
24,24,Atuona,PF,10/15/21 20:54,-9.8000,-139.0333,77.94,78,28,17.20
26,26,Naze,JP,10/15/21 20:54,28.3667,129.4833,75.22,78,36,5.21
30,30,Rincon,US,10/15/21 20:54,32.2960,-81.2354,86.18,46,90,3.22
31,31,Tutoia,BR,10/15/21 20:54,-2.7619,-42.2744,80.83,82,100,12.41

In [107]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [108]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0   Sao Jose Da Coroa Grande      BR     77.45  -8.8978  -35.1478
4                   Polewali      ID     77.92  -3.4324  119.3435
5                      Kapaa      US     82.38  22.0752 -159.3190
10              Luis Correia      BR     81.03  -2.8792  -41.6669
16             San Policarpo      PH     76.71  12.1791  125.5072
22                  Waingapu      ID     79.20  -9.6567  120.2641
24                    Atuona      PF     77.94  -9.8000 -139.0333
26                      Naze      JP     75.22  28.3667  129.4833
30                    Rincon      US     86.18  32.2960  -81.2354
31                    Tutoia      BR     80.83  -2.7619  -42.2744

In [109]:
# Set parameters to search for a hotel.
params= {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [110]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [111]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Jose Da Coroa Grande,BR,77.45,-8.8978,-35.1478,Crôa Mares Hotel
4,Polewali,ID,77.92,-3.4324,119.3435,Lilianto Hotel
5,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Luis Correia,BR,81.03,-2.8792,-41.6669,Hotel Amarração
16,San Policarpo,PH,76.71,12.1791,125.5072,Agapita M. Nicart
22,Waingapu,ID,79.20,-9.6567,120.2641,Pondok Wisata Elim
24,Atuona,PF,77.94,-9.8000,-139.0333,Villa Enata
26,Naze,JP,75.22,28.3667,129.4833,オーベルジュ・アガルイ
30,Rincon,US,86.18,32.2960,-81.2354,Days Inn Rincon
31,Tutoia,BR,80.83,-2.7619,-42.2744,Pousada Guará's

In [112]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [113]:
# Adding markers
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [115]:
# Add a heatmap of temp for the vacation spots & a pop-up marker for each city.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))